<section
  class="bg-black h-screen w-screen text-center relative overflow-hidden"
>
  <div class="flex flex-col h-full relative z-30">
    <header>
      <h2 class="text-white font-medium pt-40 text-[40px] text-5xl">
        Enjoy Tesla
      </h2>
      <a href="#" class="text-white text-base">Schedule a test drive today</a>
    </header>
    <footer class="text-sm flex flex-grow justify-end flex-col pb-20">
      <div>
        <a
          class="text-white font-medium border-[3px] border-white rounded px-6 py-2 hover:bg-white hover:text-black transition-colors duration-300"
          href="#">Test drive</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full">
    <video
      class="object-cover h-full w-full"
      autoplay
      loop
      muted
      src="/public/tesla-landing-video.webm"></video>
  </div>
</section>
