<section
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="black"
>
  <div class="flex flex-col h-full relative z-30">
    <header>
      <h2 class="text-black font-medium pt-40 text-[40px] text-5xl">Model Y</h2>
      <a href="#" class="text-black text-base underline"
        >Schedule a test drive today</a
      >
    </header>
    <footer class="text-sm flex flex-grow justify-end flex-col pb-20">
      <div class="flex gap-x-4 justify-center">
        <a
          class="text-white bg-gray-700 font-medium rounded px-14 py-2 hover:bg-white/40 hover:text-gray-700 transition-colors duration-300"
          href="#">Custom Order</a
        >
        <a
          class="text-black bg-white/75 font-medium rounded px-14 py-2 hover:bg-black/40 hover:text-white/75 transition-colors duration-300"
          href="#">Learn More</a
        >
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full">
    <img
      class="object-cover h-full w-full"
      alt="Model Y"
      src="/public/Model-Y.avif"
    />
  </div>
</section>
