---
import Logo from "./Logo.astro";
---

<header
  class="py-6 px-10 w-full flex items-center justify-between fixed top-0 z-40 text-white"
>
  <div class="flex flex-grow basis-0">
    <Logo />
  </div>

  <nav>
    <ul
      class="flex px-4 py-4 text-xs text-white font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li><a href=""></a>Model S</li>
      <li><a href=""></a>Model 3</li>
      <li><a href=""></a>Model X</li>
      <li><a href=""></a>Model Y</li>
      <li><a href=""></a>Powerwall</li>
      <li><a href=""></a>Charging</li>
    </ul>
  </nav>
  <nav class="flex flex-grow basis-0 justify-end">
    <ul
      class="flex px-4 py-4 text-xs text-white font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
    >
      <li><a href=""></a>Support</li>
      <li><a href=""></a>Shop</li>
      <li><a href=""></a>Account</li>
      <li><a href=""></a>Menu</li>
    </ul>
  </nav>
</header>
